<script setup>
const route = useRoute();
const partyId = route.params.partyId;
definePageMeta({
    middleware: 'auth',
})
useHeadSafe({
  title: 'Manage your party',
  meta: [
    { name: 'og:title', content: 'Party Time' },
    { name: 'og:description', content: 'Invite your friends to the party' },
    { name: 'og:type', content: 'article'}
  ]
});
</script>

<template>
  <div>
    <DashboardNav :party-id="partyId" />
    <h1>Party: {{ partyId }}</h1>
  </div>
</template>