<script setup>
definePageMeta({
  middleware: 'auth',
})
const route = useRoute();
const partyId = route.params.partyId;

</script>
<template>
  <div>
    <DashboardNav :party-id="partyId" />
    <!-- to do: edit card text and image -->
    Not implemented yet
  </div>
</template>
