<script setup lang="ts">
import { object, string, type InferType } from 'yup';
import type { FormSubmitEvent } from '#ui/types';

definePageMeta({
    middleware: 'auth',
})

const route = useRoute();
const partyId = route.params.partyId;
const toast = useToast();
const { generateInvitelink } = usePartyDB();
const requestInProcess = ref(false);

const schema = object({
  displayName: string().required('Required'),
  fullName: string()
})
type Schema = InferType<typeof schema>
const state = reactive({
  displayName: undefined,
  fullName: undefined
})

// todo: load generatedIds from db
const generatedIds = ref<string[]>([]);

const copyLink = (id: string) => {
  const link = `${window.location.origin}/invitation/${id}`;
  navigator.clipboard.writeText(link);
  toast.add({
    title: 'Link copied to clipboard',
    icon: 'i-heroicons-clipboard-20-solid',
  });
}

async function onSubmit(event: FormSubmitEvent<Schema>) {
  requestInProcess.value = true;
  const inviteId = await generateInvitelink({...event.data, partyId});
  if (!inviteId) {
    throw new Error('Failed to upload');
  }
  generatedIds.value.unshift(inviteId);
  localStorage.setItem('generatedIds', JSON.stringify(generatedIds.value));
  copyLink(inviteId);
  requestInProcess
}

</script>
<template>
  <div>
    <DashboardNav :party-id="partyId" />

    <UForm
      :schema="schema"
      :state="state"
      class="space-y-4"
      @submit="onSubmit"
    >
      <UFormGroup
        label="Display Name*"
        name="displayName"
      >
        <UInput v-model="state.displayName" />
      </UFormGroup>

      <UFormGroup
        label="Full name"
        name="fullName"
      >
        <UInput v-model="state.fullName" />
      </UFormGroup>

      <UButton
        type="submit"
        block
        size="lg"
      >
        Generate Invite Link
      </UButton>
    </UForm>
  </div>
</template>
