<script setup lang="ts">
import { Status } from '~/models/models';
const route = useRoute();
const partyId = route.params.partyId;
const { fetchPartyInvitations } = usePartyDB();
const partyInvitations = ref([]);
const displayError = ref(null);
definePageMeta({
    middleware: 'auth',
})
try {
  partyInvitations.value = await fetchPartyInvitations(partyId);
} catch (error) {
  displayError.value = error.message;
}

const going = computed(() => partyInvitations.value.filter(invitation => invitation.status === Status.Going).length);
const notGoing = computed(() => partyInvitations.value.filter(invitation => invitation.status === Status.NotGoing).length);
const noResponse = computed(() => partyInvitations.value.filter(invitation => invitation.status === Status.NoResponse).length);

</script>

<template>
  <div>
    <DashboardNav :party-id="partyId" />
    <section>
      <h1>Party: {{ partyId }}</h1>
      <div v-if="displayError">
        <p>
          Could not load the party.
        </p>
      </div>
      <div v-else>
        <div class="flex gap-8 justify-center">
          <span>
            Yes: {{ going }}
          </span>
          <span>
            No: {{ notGoing }}
          </span>
          <span>
            -: {{ noResponse }}
          </span>
        </div>
        <RSVPRow
          v-for="invitation in partyInvitations"
          :key="invitation.id"
          :invitation="invitation"
        />
      </div>
    </section>
  </div>
</template>
