<script setup>
const supabase = useSupabaseClient()
const runtimeConfig = useRuntimeConfig()
const loading = ref(false)
const email = ref('')

const handleLogin = async () => {
  try {
    loading.value = true
    const { error } = await supabase.auth.signInWithOtp({
      email: email.value,
      options: {
        emailRedirectTo: runtimeConfig.public.mainUrl,
      }
    })
    if (error) throw error
    alert('Check your email for the login link!')
  } catch (error) {
    alert(error.error_description || error.message)
  } finally {
    loading.value = false
  }
}
</script>

<template>
  <form
    class="row flex-center flex"
    @submit.prevent="handleLogin"
  >
    <div class="col-6 form-widget">
      <h1 class="header">
        Manage your Party!
      </h1>
      <p class="description">
        Sign in via magic link with your email below
      </p>
      <div>
        <UInput
          v-model="email"
          class="inputField"
          type="email"
          placeholder="Your email"
        />
      </div>
      <div>
        <input
          type="submit"
          class="button block p-2 my-2 w-full cursor-pointer"
          :value="loading ? 'Loading' : 'Send magic link'"
          :disabled="loading"
        >
      </div>
    </div>
  </form>
</template>
