<script setup>
defineProps({
  partyId: {
    type: String,
    required: true,
  },
})
</script>
<template>
  <nav class="pt-2">
    <ul class="flex gap-4 justify-center">
      <li>
        <UButton
          :to="`/party/${partyId}/invitationCardEdit`"
          variant="link"
          active-class="bg-blue-900"
        >
          Edit Card
        </UButton>
      </li>
      <li>
        <UButton
          :to="`/party/${partyId}/invite`"
          variant="link"
          active-class="bg-blue-900"
        >
          Invite
        </UButton>
      </li>
      <li>
        <UButton
          :to="`/party/${partyId}/rsvps`"
          variant="link"
          active-class="bg-blue-900"
        >
          RSVPS
        </UButton>
      </li>
    </ul>
  </nav>
</template>
