<script setup lang="ts">
// to do: load wish and links from db
</script>

<template>
  <div>
    <div class="w-full flex justify-center">
      <UIcon
        name="i-hugeicons-gift-card"
        class="text-6xl"
      />
    </div>
    <p>
      Also to help you save time, I have prepared a wish list for you.
      I'm relesing a new album soon and I would love to have you there.
    </p>
    <UButton
      icon="i-hugeicons-paypal"
      size="lg"
      color="primary"
      variant="solid"
      label="Contribute"
      class="my-6"
      trailing
      block
    />
  </div>
</template>