<script setup lang="ts">
defineProps({
  invitation: {
    type: Object,
    required: true,
  },
})
const toast = useToast();
const copyLink = (id: string) => {
  const link = `${window.location.origin}/invitation/${id}`;
  navigator.clipboard.writeText(link);
  toast.add({
    title: 'Link copied to clipboard',
    icon: 'i-heroicons-clipboard-20-solid',
  });
}

</script>

<template>
  <div class="flex gap-3 py-2 border-b border-gray-500">
    <span class="w-24">{{ invitation.display_name }}</span>
    <span class="flex-1">{{ invitation.full_name }}</span>
    <span>{{ invitation.status }}</span>
    <UButton
      icon="i-heroicons-clipboard-20-solid"
      size="md"
      @click="copyLink(invitation.id)"
    />
    <UButton
      icon="i-heroicons-link"
      size="md"
      :to="`/invitation/${invitation.id}`"
      target="_blank"
    />
  </div>
</template>