// -------- general styles --------
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color:inherit;
}
button {
    all: unset;
    cursor: pointer;
}
h1{
    font-size: 1.5em;
    font-weight: 800;
}
h2 {
    font-size: 1.3em;
    font-weight: 700;
}

// -------- global classes ---------
