<script setup lang="ts">
import { Status } from '~/models/models';

const route = useRoute();
const id = route.params.id;
const invitationCard: Ref<{
  display_name: string;
  status: Status;
} | null> = ref(null);
const loading = ref(true);
const displayError = ref(null);
const { fetchInvitation, updateStatus } = usePartyDB();
const requestInProcess = ref(false);

try {
  loading.value = true;
  const response = await fetchInvitation(id);
  invitationCard.value = response;
  loading.value = false;
} catch (error: any) {
  displayError.value = error.message;
  loading.value = false;
}
const status = ref(invitationCard.value?.status ?? Status.NoResponse);
// todo: load party name from db
const partyName = ref("Mehdi's Birthday Party");

useHeadSafe({
  title: `${partyName.value} - RSVP`,
  meta: [
    { name: 'og:title', content: partyName.value },
    { name: 'og:description', content: invitationCard.value?.display_name ? `Invitation letter for dear ${invitationCard.value.display_name}` : "RSVP to the party" },
    { name: 'og:type', content: 'article' }
  ],
  link: [
    { rel: 'icon', type: 'image/svg+xml',
     href: "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎯</text></svg>" }
  ],
});
useSeoMeta({
  title: `${partyName.value} - RSVP`,
  ogTitle: `${partyName.value} - RSVP`,
  description: invitationCard.value?.display_name ? `Invitation letter for dear ${invitationCard.value.display_name}` : "RSVP to the party",
  ogDescription: invitationCard.value?.display_name ? `Invitation letter for dear ${invitationCard.value.display_name}` : "RSVP to the party",
});

const handleUpdateStatus = async (newStatus: Status) => {
  requestInProcess.value = true;
  const response = await updateStatus(id, newStatus);
  requestInProcess.value = false;
  if (!response.status) {
    throw new Error('Failed to update status');
  }
  status.value = response.status;
}
</script>

<template>
  <div>
    <div v-if="displayError">
      <p>
        Could not load the link.
      </p>
    </div>
    <div
      v-else
      class="px-2"
    >
      <div class="pt-6 pb-2 w-full text-center">
        <NuxtImg
          src="https://nibyjepbeimwgixdipmu.supabase.co/storage/v1/object/sign/party-bucket/img/party-music-drink-gen-1.jpg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJwYXJ0eS1idWNrZXQvaW1nL3BhcnR5LW11c2ljLWRyaW5rLWdlbi0xLmpwZyIsImlhdCI6MTcxOTUxMzU3MCwiZXhwIjoxNzI3Mjg5NTcwfQ.iP7xVv8O_gMdIM_Qt18i6b2OHZAKAT85hxRtNA_Wl9s&t=2024-06-27T18%3A39%3A10.889Z"
          class="mx-auto"
        />
      </div>
      <h1 class="font-bold text-3xl">
        Let's Party!
      </h1>
      <p class="font-medium">
        Join us for a party at our place on Saturday, 12th of June 2021.
      </p>
      <div class="inline-flex items-center p-2 gap-2">
        <UIcon
          name="i-heroicons-calendar"
          class="text-3xl"
        />
        <span class="font-medium">
          20 July <br>
          7:00 PM
        </span>
      </div>
      <div class="inline-flex items-center p-2 gap-2">
        <UIcon
          name="i-heroicons-map-pin"
          class="text-3xl"
        />
        <span class="font-medium">
          Adenuarstraße 20<br> 12345 Berlin
        </span>
      </div>

      <section v-if="status === Status.NoResponse">
        <p>
          Dear {{ invitationCard?.display_name }} <br>
          I'm turning 28 and I would love to celebrate with you! <br>
          Looking forward to seeing you!
          <br>Mehdi
        </p>
        <UButton
          label="I will be there!"
          block
          size="lg"
          class="my-6"
          :loading="requestInProcess"
          @click="handleUpdateStatus(Status.Going)"
        />
        <UButton
          label="I can't make it... :("
          variant="ghost"
          block
          size="lg"
          class="my-6"
          :loading="requestInProcess"
          @click="handleUpdateStatus(Status.NotGoing)"
        />
      </section>
      <section v-else-if="status === Status.Going">
        <p class="text-center py-3">
          See you there {{ invitationCard?.display_name }}!
        </p>
        <!-- generated in https://openicsfile.com/create.html -->
        <UButton
          label="Add to calendar"
          icon="i-heroicons-calendar-days"
          block
          size="lg"
          class="my-6"
          to="https://nibyjepbeimwgixdipmu.supabase.co/storage/v1/object/sign/party-bucket/event.ics?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1cmwiOiJwYXJ0eS1idWNrZXQvZXZlbnQuaWNzIiwiaWF0IjoxNzE5NjUxNjUyLCJleHAiOjE3NTExODc2NTJ9.53mCKf2KnLhdTESXnT21EDl4_YMtL-M8IO6ToOg9i14&t=2024-06-29T09%3A00%3A32.018Z"
          target="_blank"
        />
        <PresentWish />
        <UButton
          label="Changed my mind about coming..."
          block
          variant="ghost"
          class="my-6"
          :loading="requestInProcess"
          @click="handleUpdateStatus(Status.NoResponse)"
        />
      </section>
      <section v-else-if="status === Status.NotGoing">
        <p class="text-center py-3">
          So sad {{ invitationCard?.display_name }}!
        </p>
        <UButton
          label="Changed my mind"
          block
          size="lg"
          class="my-6"
          :loading="requestInProcess"
          @click="handleUpdateStatus(Status.NoResponse)"
        />
        <PresentWish />
      </section>
      <div class="h-20" />
    </div>
  </div>
</template>
