<script setup lang="ts">
useHeadSafe({
  title: 'Party Time!',
  meta: [
    { name: 'og:title', content: 'Party Time' },
    { name: 'og:description', content: 'Invite your friends to the party' },
    { name: 'og:type', content: 'article'}
  ]
});
</script>

<template>
  <div>
    Party Time!
  </div>
</template>
